@import url('https://fonts.googleapis.com/css?family=Lato');

h1,h2,h4,h5,h6{
	text-transform: uppercase;
	color: #444;
	font-family: rale;
	letter-spacing: 1px;
}

h2{
	font-size: 26px;
	color: #333;
}

h3{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	padding-top: 20px;
	font-weight: normal;
	color: #777;
}

h4{
	margin-top: 15px;
	font-size: 25px;
}

h5{
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	font-weight: normal;
	padding: 10px 0;
	font-size: 18px;
}

p{
	color: #888;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}

.wrap{
	width: 90%;
	margin: auto;
}

.welcome{
	margin-top: 50px;
	text-align: center;
}

.column-container{
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
}

.column-3{
	width: 33.333%;
	float: left;
	padding: 5px 5px;
	box-sizing: border-box;
	margin: auto;
}

.column-3 h4,h5{
	text-align: center;
}

.column-3 img{
	width: 100%;
	height: 350px;
}

h4.servicesH4{
	text-align: left;
	padding-bottom: 20px;
}